################################################################################################################
## Basic htacess file for AIO - RADIO STATION PLAYER
## What does it do?
## Disables autoindex, mod rewrite and adds headers to required files (some providers miss these)
################################################################################################################

# Turn off rewrite
<IfModule mod_rewrite.c>
	RewriteEngine Off
</IfModule>

<IfModule pagespeed_module>
    ModPagespeed off
</IfModule>

# Turn off autoindex
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>


# Add Type headers
AddType video/webm .webm
AddType video/ogg .ogv
AddType audio/ogg .ogg
AddType video/mp4 .mp4
AddType audio/mpeg .mp3
AddType image/svg+xml .svg